<h2>Employee List</h2>

<div class="top-actions">
  <button routerLink="/add-employee" class="add-btn">
    Add Employee
  </button>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>Designation</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees">
    <td>{{ emp.first_name }} {{ emp.last_name }}</td>
    <td>{{ emp.department }}</td>
    <td>{{ emp.designation }}</td>
    <td>
      <button [routerLink]="['/view-employee', emp.id]">View</button>

      <button [routerLink]="['/update-employee', emp.id]">Edit</button>

      <button (click)="deleteEmployee(emp.id)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<div class="bottom-actions">
  <button (click)="logout()" class="logout-btn">
    Logout
  </button>
</div>
